PORT=8081
NODE_ENV=development

MONGO_URI=mongodb+srv://nhom:kXdTX9eWOyUQNtne@flashcard.azhcist.mongodb.net/flashcard_app
JWT_SECRET=

GOOGLE_CLIENT_ID=
# Nodemailer — Gmail SMTP
EMAIL_USER=
EMAIL_PASS=
